@font-face
  font-family: 'Ropa Sans'
  src: url('/fonts/ropa_sans_regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


#site-title, #logo
  text-indent: -9999px


#menu
  font-family: 'Ropa Sans'
  font-size: 1.1em
  text-align: right

  a
    color: #F6F8F6

  a:hover
    color: #8FB495

  a.current:hover
    color: #F6F8F6


#content

  h1
    color: #405F63
    font-family: 'Ropa Sans'
    font-size: 1.6em


#footer
  color: #FFF
  text-align: center
  text-shadow: 1px 1px 0 #222

  a
    color: #8FB495

  a:hover
    text-decoration: underline



div#archives
  font-size: 13px
  line-height: 18px

  a:hover
    text-decoration: underline

div.post

  h2.title
    font-size: 16px

  div.textile-body

    p
      font-size: 13px
      margin-bottom: 0

    p.more
      font-size: 12px
      text-align: right

      a
        text-decoration: underline

      a:hover
        text-decoration: none

  div.meta
    font-size: 12px
    text-align: left

    a:hover
      text-decoration: underline
